.page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.page-content {
    display: flex;
    flex-direction: column;
}

.page-content > div {
    margin: 1em 0;
}

.search-filter {
    border: 1px solid;
    padding: 1em;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.songs-list {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr;
    align-items: center;
    column-gap: 1.5em;
    row-gap: 1em;
}


.songs-header {
    font-weight: bold;
    font-size: 1.2rem;
}


.songs-content {
    display: flex;
    align-items: center;
    /* border: 1px solid; */
    padding: 0.5em 0;
}

.song-btns {
    display: flex;
    flex-direction: row;
}

.btn {
    padding: 0.3em 0.5em;
    margin: 0 0.5em 0 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-shadow: none;
    text-decoration: none;
    background-image: none;
    box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
}

a.btn:focus, a.btn:hover {
    text-decoration: none;
    color: #fff;
}

.btn > i.icon {
    margin: 0;
}

.btn.btn-edit {
    background-color: #2185d0;
}

.btn.btn-yt {
    background-color: red;
}


