.page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.page-content {
    display: flex;
    flex-direction: column;
}

.page-content > div {
    margin: 1em 0;
}

.search-filter {
    border: 1px solid;
    padding: 1em;
    background-color: #f5f5f5;
}

.songs-list {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr;
    align-items: center;
    column-gap: 1em;
    row-gap: 1em;
}


.songs-header {
    font-weight: bold;
    font-size: 1.2rem;
}


.songs-content {
    border: 1px solid;
    /* padding: 0.5em 0; */
}

.grid-test {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: span 2;
}
